@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

*{
  font-family: "Inconsolata", monospace;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body,
html{
  background-color: #B4BFCC;
  color: #00569F;

}



